/ about us
%section#about.slice
  .container
    .row
      .col-md-12
        %img.img-responsive.img-centered{src: 'images/arqueologica.png'}
    .row
      .col-sm-1
      .col-sm-10.text-center
        %h2 ARQUEOLÓGICA 2.0 - 8th International Congress on
        %h2 Archaeology, Computer Graphics, Cultural Heritage and Innovation
        %h3 5 - 7 September, 2016
        %h3 Vera Campus, Universitat Politècnica de València
        %h3 Valencia, Spain
      .col-sm-1
    .row
      .col-md-12.text-justify
        :markdown
          On behalf of the Organisation Committee of the International Congress on Archaeology, Computer Graphics, Cultural Heritage and Innovation ‘ARQUEOLÓGICA 2.0’, it is a pleasure to invite our colleagues from all over the world to come to the 8th Edition of ARQUEOLÓGICA 2.0 in Valencia, Spain, 5th – 7th September 2016. The lemma of the Congress is: **‘Advanced 3D documentation, modelling and reconstruction of cultural heritage objects, monuments and sites’.**
        %p Researchers, professors, archaeologists, architects, engineers, art historians… from archaeology, computer graphics and geomatics dealing with cultural heritage are invited to share knowledge and experiences in the field of Virtual Archaeology. The participation of well-known researchers and enterprises is very much appreciated. An attractive and interesting schedule is arranged for the participants and visitors.
        %p
          ARQUEOLÓGICA 2.0 – 2016 is organised by the Spanish Society of Virtual Archaeology
          = surround '(', '),' do
            %a{:href => "http://www.arqueologiavirtual.com/", target: "_blank"} SEAV
          the Virtual Archaeology International Network
          = surround '(', '),' do
            %a{href: 'http://virtualarchaeology.net/', target: "_blank"} INNOVA
          and the Universitat Politècnica de València in cooperation with
          %a{href: 'http://cipa.icomos.org/'} CIPA Heritage Documentation.
    .row.mt30
      .col-sm-1
      .col-sm-10.text-justify
        %h1
          Papers and Contributions
        %p Authors may contribute in several ways:
        %p
          %strong
            1. Scientific peer-reviewed papers:
          Scientific peer-reviewed papers: Papers with a minimum of 5 pages (based on the
          = surround '', ').' do
            %a{href: "/assets/Arqueologica2016_Template_DOI.dotx"} MS Word Arqueologica2016_Template_DOI
          They should report innovative and outstanding research works and activities. They will be assigned to oral or poster presentations after a review process (at least 2 reviewers per paper). The electronic proceedings (USB book with ISBN and papers with DOI) of Arqueológica 2.0 8th International Congress will be based on scientific papers. Some selected contributions, successfully extended, will be published in Virtual Archaeology Review
          = surround '(', ').' do
            %a{href: 'http://polipapers.upv.es/index.php/var', target: '_blank'} VAR
        %p
          %strong
            2. Works in progress:
          Short papers up to 3 pages (based on the
          = surround '', ')' do
            %a{href: "/assets/Arqueologica2016_Template.dotx"} MS Word Arqueologica2016_Template
          with figures. They should report on-going projects with some initial but interesting results. They will be assigned to oral or poster (both hard-copy and soft-copy fast-tract) presentations, trying to preserve submitter's preference. All the short papers will make up the ‘Work in Progress’ book and will be included in the USB of the congress.
        %p
          All papers in 1 & 2 will be submitted in English (although Spanish is also accepted). Online submission webpage:
          %a{href: "http://ocs.editorial.upv.es/index.php/arqueologica20/arqueologica8/"} http://ocs.editorial.upv.es/index.php/arqueologica20/arqueologica8/
        %p
          %strong
            3. Showcases (Demo sessions):
          participants from academia, research institutes and companies are invited to show and demonstrate their tools, programmes and developments during Demo Sessions which will be included in the technical program. If you are willing to showcase your results or products, please contact
          %a{href: 'mailto:remondino@fbk.eu'} Fabio Remondino (remondino@fbk.eu).
      .col-sm-1
    .row.mt30
      .col-sm-1
      .col-sm-10.text-justify
        %h1 Thematic Areas
        %ul
          %li Data acquisition with metric, photogrammetric, remote sensing and geophysical devices
          %li Documentation of cultural heritage
          %li High-end digitisation and 3D modelling of objects, monuments and sites
          %li Virtual conservation/restoration
          %li Virtual archaeology
          %li Virtual architecture
          %li Virtual museums
          %li Virtual Exhibitions
          %li Cultural heritage gaming
          %li Collaborative environments for cultural heritage
          %li Internet technologies and social media in archaeology
      .col-sm-1
